---
import webs from '../../data/webs.json'


import BaseLayout from '../../layouts/BaseLayout.astro';
import '../../styles/games.css';
import '../../styles/global.css';
import WebHeader from '../../components/WebHeader.astro';
import Footer from '../../components/Footer.astro';

// 2. Ruta dinámica
export async function getStaticPaths() {
  return webs.map((game) => ({
    params: { dir: game.dir }
  }));
}

// 3. Cargamos los datos del juego actual
const { dir } = Astro.params;
const web = webs.find((g) => g.dir === dir);

if (!web) throw new Error("Juego no encontrado");
---
<BaseLayout>
  <fragment slot="head">
    <meta name="description" content={`Juega ${web.name} gratis desbloqueado en estudiandoduro. Juega gratis a este y muchos más juegos gratis y sin anuncios. `} />
    <meta name="keywords" content={`${web.name}, gratis, desbloqueado, juego, estudiandoduro`}/>
  </fragment>
  <WebHeader name={web.name} link={web.url}/>
  <main id="game-container" aria-hidden="true">
    <iframe src={web.url} width="100%" height="600px" frameborder="0" id="game"></iframe>
  </main>
  <Footer />
  <script src="/scripts/game.js" is:inline></script>
</BaseLayout>