---
import games from '../data/games.json';

games.sort((a, b) => a.name.localeCompare(b.name, 'es', { sensitivity: 'base' }));
---

<div class="games-list" id="games-list">
    {games.map((game) => {
      const thumbPath = `/assets/img/${game.dir}.webp`;
      const gameLink = `/game/${game.dir}`;
      return (
        <a href={gameLink} class="game-item" id={game.dir}>
          <img src={thumbPath} alt={`Imagen miniatura de ${game.name}`} class="thumb" />
          <div class="game-header">
            <p>{game.name}</p>
          </div>
        </a>
      );
    })}
</div>