---
import "../styles/global.css";
import "../styles/index.css"

import Analytics from '@vercel/analytics/astro'
import SpeedInsights from '@vercel/speed-insights/astro'
---
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/webp" href="/assets/icons/favicon.svg" rel="icon">
    <meta name="robots" content="noindex, nofollow">
    <title>Classroom</title>
</head>

<body>
    <header aria-hidden="true" style="text-align: center;">
        <h1>Gracias por completar el formulario. Serás reedirigido en breve. </h1>
        <img src="/assets/icons/check.svg" alt="Icono de un check azul." width="300px" height="300px" style="display: inline-block;">
    </header>
    <script src="/index.js"></script>
    <script>
        async function getUltimoIssue(owner, repo) {
            const url = `https://api.github.com/repos/${owner}/${repo}/issues?per_page=1&sort=created&direction=desc`;

            try {
                // Delay the fetch request by 5 seconds (5000 ms)
                await new Promise(resolve => setTimeout(resolve, 5000));

                const response = await fetch(url);
                const data = await response.json();

                if (data.length > 0) {
                    const issue = data[0];
                    console.log(`Redirigiendo al issue: #${issue.number} - ${issue.title}`);
                    window.location.href = issue.html_url;
                } else {
                    const issue = `https://github.com/${owner}/${repo}`;
                    console.log(`No hay issues. Redirigiendo al repositorio: ${issue}`);
                    window.location.href = issue;
                }
            } catch (error) {
                console.error('Error al obtener el issue:', error);
            }
        }

        getUltimoIssue('fgbbd', 'estudiandoduro');
    </script>
</body>
</html>