---
import games from '../../data/games.json';
import BaseLayout from '../../layouts/BaseLayout.astro';
import '../../styles/games.css';
import '../../styles/global.css';
import GameHeader from '../../components/GameHeader.astro';
import Footer from '../../components/Footer.astro';
import Miguelon from '../../components/Miguelon.astro';

// 2. Ruta dinámica
export async function getStaticPaths() {
  return games.map((game) => ({
    params: { dir: game.dir }
  }));
}

// 3. Cargamos los datos del juego actual
const { dir } = Astro.params;
const game = games.find((g) => g.dir === dir);

if (!game) throw new Error("Juego no encontrado");
---
<BaseLayout>
  <fragment slot="head">
    <meta name="description" content={`Juega ${game.name} gratis desbloqueado en estudiandoduro. Juega gratis a este y muchos más juegos gratis y sin anuncios. `} />
    <meta name="keywords" content={`${game.name}, gratis, desbloqueado, juego, estudiandoduro`}/>
  </fragment>
  <GameHeader name={game.name}/>
  <main id="game-container" aria-hidden="true">
    {game.type === 1 && (
      <iframe src={`/content/game/${game.dir}/index.html`} width="100%" height="600px" frameborder="0" scrolling="no"></iframe>
    )}
    {game.type === 2 && (
      <iframe src={game.url} width="100%" height="600px" frameborder="0" scrolling="no"></iframe>
    )}
  </main>
  <Footer />
  <Miguelon />
  <script src="../../scripts/game.js"></script>
</BaseLayout>